
extends ../layout

block content
    h1.
       #{contact.firstName}
       #{contact.lastName}
    p phone Number : #{contact.phoneNumber}
    p company  : #{contact.company}

    button(onclick="allContacts()") <- All contacts
    script.
        function allContacts() {
            window.location.href = '/contacts'
        }